@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

header {
  background-color: rgb(102, 17, 182);
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 16px solid rgb(76, 10, 137);
}

header button {
  margin-left: 16px;
}

form {
  background-color: rgb(197, 197, 226);
  padding: 24px 0px;
  text-align: center;
}

form h2 {
  margin-bottom: 16px;
}

input, button {
  padding: 8px;
}

button {
  background-color: rgb(13, 115, 13);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button[type='reset'] {
  background-color: rgb(184, 10, 10);
}