@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

header {
  background-color: rgb(89, 0, 183);
  color: white;
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 16px solid rgb(70, 0, 145);
}

header button {
  margin-left: 16px;
  background-color: rgb(12, 176, 12);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 8px;
  cursor: pointer;
}

form {
  background-color: rgb(191, 213, 226);
  padding: 24px 0px;
  text-align: center;
  display: none;
}

form h1 {
  font-size: 1.5em;
}

form input {
  margin-top: 16px;
  padding: 8px;
  cursor: pointer;
}

input[type='submit'] {
  background-color: rgb(12, 176, 12);
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

input[type='reset'] {
  background-color: rgb(176, 22, 22);
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}